@media only screen and (max-width: 1080px), only screen and (max-device-width: 1080px) {
  html,
  body {
    font-size: 168.75px;
  }
}
@media only screen and (max-width: 960px), only screen and (max-device-width: 960px) {
  html,
  body {
    font-size: 150px;
  }
}
@media only screen and (max-width: 800px), only screen and (max-device-width: 800px) {
  html,
  body {
    font-size: 125px;
  }
}
@media only screen and (max-width: 720px), only screen and (max-device-width: 720px) {
  html,
  body {
    font-size: 112.5px;
  }
}
@media only screen and (max-width: 1920px), only screen and (max-device-width: 1920px) {
  html,
  body {
    font-size: 100px;
  }
}
@media only screen and (max-width: 1400px), only screen and (max-device-width: 1400px) {
  html,
  body {
    font-size: 93.75px;
  }
}
@media only screen and (max-width: 1330px), only screen and (max-device-width: 1330px) {
  html,
  body {
    font-size: 92px;
  }
}
@media only screen and (max-width: 1315px), only screen and (max-device-width: 1315px) {
  html,
  body {
    font-size: 90.75px;
  }
}
@media only screen and (max-width: 1297px), only screen and (max-device-width: 1297px) {
  html,
  body {
    font-size: 90px;
  }
}
@media only screen and (max-width: 1280px), only screen and (max-device-width: 1280px) {
  html,
  body {
    font-size: 84.375px;
  }
}
@media only screen and (max-width: 1215px), only screen and (max-device-width: 1215px) {
  html,
  body {
    font-size: 80.375px;
  }
}
@media only screen and (max-width: 1180px), only screen and (max-device-width: 1180px) {
  html,
  body {
    font-size: 75px;
  }
}
@media only screen and (max-width: 1110px), only screen and (max-device-width: 1115px) {
  html,
  body {
    font-size: 73px;
  }
}
@media only screen and (max-width: 1090px), only screen and (max-device-width: 1090px) {
  html,
  body {
    font-size: 64.6875px;
  }
}
@media only screen and (max-width: 1030px), only screen and (max-device-width: 1030px) {
  html,
  body {
    font-size: 62.5px;
  }
}
@media only screen and (max-width: 1020px), only screen and (max-device-width: 1020px) {
  html,
  body {
    font-size: 58.59375px;
  }
}
@media only screen and (max-width: 995px), only screen and (max-device-width: 995px) {
  html,
  body {
    font-size: 56.25px;
  }
}
@media only screen and (max-width: 983px), only screen and (max-device-width: 983px) {
  html,
  body {
    font-size: 50px;
  }
}
@media only screen and (max-width: 950px), only screen and (max-device-width: 950px) {
  html,
  body {
    font-size: 37.5px;
  }
}
